body {
    overflow: hidden;
    background: black;
}

.rectangle {
    fill: #9467bd;
    fill-opacity: 0.00001;
}

.rectangle-text {
    fill: white;
}

.minutes-arc {
    fill: #1D3549;
}

.minutes-aux {
    fill: #2B506E;
}

.hours-arc {
    fill: #2B506E;
}

.hours-aux {
    fill: #4682B4;
}

.days-arc {
    fill: #4682B4;
}

.days-aux {
    fill: #6a9bc3;
}

.weeks-arc {
    fill: #6a9bc3;
}

.weeks-aux {
    fill: white;
}

.warning {
    stroke: grey;
    stroke-dasharray: 5;

}

.header {
    fill: white;
    text-anchor: middle;
}

.med-box {
    fill: white;
    fill-opacity: 0.25;
}

.dosage-text {
    text-anchor: middle;
    fill: white;
}